{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sublime project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'store/styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'store/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'store/styles/checkout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'store/styles/checkout_responsive.css' %}">


<body>


<div class="super_container">


    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url({% static 'store/images/cart.jpg' %})"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="/">Bosh sahifa</a></li>
                                        <li>Buyurtmani tasdiqlash</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Checkout -->

    <div class="checkout">
        <div class="container">
            <div class="row">

                <!-- Billing Info -->
                <div class="col-lg-6">
                    <div class="billing checkout_section">
                        <div class="section_title">Murojaat manzili:</div>
                        <div class="section_subtitle">Ma'lumotlaringizni kiriting</div>
                        <div class="checkout_form_container">
                            <form action="#" id="checkout_form" class="checkout_form">
                                <div class="mt-4">
                                    <!-- Address -->
                                    <label for="checkout_address">To'liq ism*</label>
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ customer_form.name }}
                                    </form>

                                </div>
                                <div class="mt-4">
                                    <!-- Address -->
                                    <label for="checkout_address">Manzil*</label>
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ shipping_form.address }}
                                    </form>

                                </div>

                                <div class="mt-4">
                                    <!-- Zipcode -->
                                    <label for="checkout_zipcode">Zipcode*</label>
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ shipping_form.zipcode }}
                                    </form>
                                </div>
                                <div class="mt-4">
                                    <!-- Email -->
                                    <label for="checkout_email">Email*</label>
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ customer_form.email }}
                                    </form>
                                </div>
                                <div class="checkout_extra">
                                    <div>
                                        <input type="checkbox" id="checkbox_terms" name="regular_checkbox"
                                               class="regular_checkbox" checked="checked">
                                        <label for="checkbox_terms"><img src="images/check.png" alt=""></label>
                                        <span class="checkbox_title">Terms and conditions</span>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="checkbox_account" name="regular_checkbox"
                                               class="regular_checkbox">
                                        <label for="checkbox_account"><img src="images/check.png" alt=""></label>
                                        <span class="checkbox_title">Create an account</span>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="checkbox_newsletter" name="regular_checkbox"
                                               class="regular_checkbox">
                                        <label for="checkbox_newsletter"><img src="images/check.png" alt=""></label>
                                        <span class="checkbox_title">Subscribe to our newsletter</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Order Info -->

                <div class="col-lg-6">
                    <div class="order checkout_section">
                        <div class="section_title">Sizning buyurtmangiz</div>
                        <div class="section_subtitle"></div>

                        <!-- Order details -->
                        <div class="order_list_container">
                            <div class="order_list_bar d-flex flex-row align-items-center justify-content-start">
                                <div class="order_list_title">Nomi:</div>
                            </div>
                            <ul class="order_list">
                                {% for item in items %}
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="order_list_title">{{ item.product.title }} - ({{ item.quantity }}) ta
                                    </div>
                                </li>
                                {% endfor %}
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="order_list_title"></div>
                                    <div class="order_list_value ml-auto"></div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="order_list_title">Umumiy narxi</div>
                                    <div class="order_list_value ml-auto">{{ order.get_cart_total_price|floatformat:2 }}
                                        USD
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- Order Text -->
                        <div class="order_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra
                            temp or so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te
                            mpus. Ut consectetur lacus.
                        </div>
                        <div class="button order_button"><a href="#">Tasdiqlash</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script src="{% static 'store/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'store/styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'store/styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'store/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'store/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'store/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'store/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'store/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'store/plugins/easing/easing.js' %}"></script>
<script src="{% static 'store/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'store/js/checkout.js' %}"></script>
</body>

{% endblock main %}
